@import url('https://fonts.googleapis.com/css?family=Heebo|Major+Mono+Display&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.col{
    padding: 0;
}

.banner{
    background-image: linear-gradient(320.5deg, rgba( 59, 67, 113, 0.9) -10%, rgba(253, 63, 129, 0.32) 100%), url(/img/gam.jpg);
    height: 100vh;
    background-size: cover;
    max-width: 95%;
}

.title{
    text-align: right;
    font-family: 'Heebo', sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .7);
}
.title-secondary{
    text-align: right;
    font-family: 'Heebo', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 6rem;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, .7);
    
}

.heading{
    font-family: 'Major Mono Display', monospace;
    color: white;
    text-align: right;
    margin-right: 2rem;
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: 1;
}

.forms{
    width: 55%;
    margin-left: 100px;
}

.form-control{
    border: none;
    border-style: none;
    border-bottom: solid 1px #7b7286;
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 4rem;

}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

.form-control:hover{
    border-bottom: solid 4px #614385;
}

.btn-grad{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-image: linear-gradient(to right, #614385 0%, #516395 80%, #614385 100%);
    margin-top: 1rem;

}

.btn-grad:hover {
    background-position: right center;
}

::placeholder{
    font-size: 1.8rem;
    letter-spacing: 4px;
}

/* responsive */
@media (max-width: 991.98px){ 
    .col{
        display: none;
    }

    .banner{
        display: none;
    }

    .forms{
        margin-top: 25vh;
    }
}